body {
  width: 1520px;
  background-image: url(back.svg);
  background-size: 1520px 300px;
  background-repeat: no-repeat;
  font-family: sans-serif;
}

.h1-header {
  margin-top: 50px;
  font-size: 2em;
  color: gray;
  margin-left: 700px;
  font-family: sans-serif;
}

.search-bar {
  margin-left: 400px;
  margin-top: 2em;
}

.search-bar .container {
  border-radius: 1em;
  -webkit-box-shadow: 2px 2px #c7c7c7;
          box-shadow: 2px 2px #c7c7c7;
  width: 800px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 .5em;
  height: 50px;
}

.search-bar .container button {
  width: 20px;
  border: none;
  background: white;
  margin-left: 10px;
  margin-top: 5px;
}

.search-bar .container input {
  height: 80%;
  width: 100%;
  background: white;
  font-size: 1.2em;
  color: gray;
  margin: 0 1em 0 1.5em;
  border: none;
  outline: none;
  border-right: 2px solid #c7c7c7;
}

.search-bar .container img {
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
}

.search-bar .container :hover img {
  -webkit-filter: opacity(1);
          filter: opacity(1);
}

.search-bar .container .searchbutton {
  cursor: pointer;
  width: 15px;
}

.search-bar .container .searchbutton :hover {
  -webkit-filter: opacity(1);
          filter: opacity(1);
}

.search-bar .container .clear-button {
  cursor: pointer;
  margin: 5px 10px 0 0;
  width: 12px;
}

.error-message {
  display: none;
  margin-top: 15em;
}

.error-message .container {
  width: 700px;
  margin: 0 auto;
  background: #e7e7e7;
  text-align: center;
  color: #666666;
  border-radius: 1em;
  height: 50px;
}

.error-message .container p {
  font-size: 1.2em;
  font-family: sans-serif;
  padding-top: .7em;
}

.tab_button {
  display: none;
  margin-top: 10em;
}

.tab_button .container {
  margin-left: 10px;
  background-color: #fafafa;
}

.tab_button .container button {
  color: gray;
  background-color: #fafafa;
  font-size: 1em;
  border: none;
  cursor: pointer;
  padding: 15px;
}

.tab_button .container :hover {
  background-color: #b8b8b8;
}

.tab_content {
  display: none;
}

#company {
  font-size: 0px;
}

#company img {
  display: block;
  height: 200px;
  width: 200px;
  margin: 20px 0 10px 45%;
}

#company .query {
  font-size: 1rem;
  text-align: right;
  display: inline-block;
  width: 20em;
  margin-left: 470px;
}

#company .query p {
  color: black;
  font-weight: bold;
  margin: 0;
  padding: 5px 5px;
  border: 2px solid gainsboro;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

#company .query #category1P {
  border-bottom: 2px solid gainsboro;
}

#company .answer {
  font-size: 1rem;
  display: inline-block;
  margin: 0;
}

#company .answer p {
  padding: 5px 5px;
  color: #6e6e6e;
  margin: 0;
  padding-left: 10px;
  border: 2px solid gainsboro;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

#company .answer #category1S {
  border-bottom: 2px solid gainsboro;
}

#summary {
  margin-left: 600px;
  margin-top: 20px;
  font-size: 0px;
}

#summary .query {
  font-size: 1rem;
  text-align: right;
  display: inline-block;
}

#summary .query p {
  color: black;
  font-weight: bold;
  margin: 0;
  padding: 5px 5px;
  border: 2px solid gainsboro;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

#summary .query #percent2P {
  border-bottom: 2px solid gainsboro;
}

#summary .answer {
  font-size: 1rem;
  display: inline-block;
}

#summary .answer p {
  padding: 5px 5px;
  color: #6e6e6e;
  margin: 0;
  padding-left: 10px;
  border: 2px solid gainsboro;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

#summary .answer img {
  height: 14px;
  width: 14px;
}

#summary .answer #percent2S {
  border-bottom: 2px solid gainsboro;
}

#recommendation {
  margin: 0;
  font-size: 0px;
  height: 50px;
  margin-top: 20px;
  margin-left: 600px;
}

#recommendation p {
  margin: 0;
  font-size: 1rem;
  width: 45px;
  height: 35px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

#recommendation #recommendation1 {
  margin-left: 10px;
  color: white;
  padding-top: 10px;
  background-color: red;
}

#recommendation #recommendation2 {
  color: white;
  padding-top: 10px;
  background-color: #b15f49;
}

#recommendation #recommendation3 {
  color: white;
  padding-top: 10px;
  background-color: #77945c;
}

#recommendation #recommendation4 {
  color: white;
  padding-top: 10px;
  background-color: #3bca6e;
}

#recommendation #recommendation5 {
  margin-right: 10px;
  color: white;
  padding-top: 10px;
  background-color: lightgreen;
}

#recommendation #sentence {
  color: #6e6e6e;
  margin-top: 20px;
  width: 225px;
  margin-left: 55px;
  letter-spacing: 2px;
}

#news img {
  height: 150px;
  width: 150px;
  float: left;
  margin-right: 10px;
}

#news div {
  margin: 20px auto;
  background-color: #fafafa;
  height: 150px;
  padding: 20px;
}

#news .news_title {
  font-weight: bold;
}
/*# sourceMappingURL=index.css.map */